.brandbroder {
    margin: 20px;
    padding-bottom:5vw ;
  }
  
  .brand-heading {
font-size:clamp(26px,3vw,32px);
font-weight: 600;
line-height: 48.96px;
text-align: left;

  }
  
  .brand-images {
    display: flex;
    overflow-x: auto;
    gap: 40px;
    position: relative;
    scroll-snap-type: x mandatory;
  }
  
 
  .brand-images::-webkit-scrollbar-corner {
    background: transparent; 
  } 
  
  .brand-images {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .brand-images:hover::-webkit-scrollbar {
    display: block;
  }
  
  .brand-images::-webkit-scrollbar {
    display: none;
  }
  
  .brand-image {
    flex: 0 0 auto;
    width: clamp(80px,8.6vw,128px); 
    height:clamp(80px,8.6vw,128px); 
    scroll-snap-align: start;
  }
 
  
