.productcontainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc; 
  justify-content: space-between;
 gap: 40px;
}
.mainproduct{
  display: flex;
  padding: 3vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.mainproduct  img{
  width: clamp(100px,8vw,250px); 
  height: clamp(130px,8w,400px); 

}
.productsub {
  display: flex;
  flex-basis: 70%;
  align-items: self-start;
  justify-content: end;
  flex-wrap: wrap;

}

.itemprod{
  display: flex;
  width: clamp(100px,30%,200px);
  justify-content: space-evenly;
  border: 1px solid #ccc; 
}

.prodcartbutton {
  margin-top: 10px;
  min-width: 176px;
  min-height: 52px;
  padding: 0;
  border: none;
  background-color: #1AA5C3;
  color: white;
  cursor: pointer;
  border-radius: 0;
font-size: 14px;
font-weight: 600;
line-height: 34px;
letter-spacing: 0.699999988079071px;
text-align: center;

}

.prodcartbutton:hover {
  background-color: #777777;
}
.iteamstyles{
  display: flex;
  flex-direction:column ;
  align-items: center;
}
.iteamstyles h2{
  text-wrap: wrap;
  font-size: clamp(10px,3vw,20px);
}
del{
font-size: 14px;
font-weight: 300;
line-height: 15px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color: #777777;

}